@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: #e3f0ff;
    min-height: 100vh;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav .menu-icon{
    cursor: pointer;
    display: none;
}
nav .logo a{
    font-size: 30px;
    font-weight: bold;
    color: #5654b3;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    padding: 0 15px;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #5654b3;
}
nav ul button{
    border: none;
    background-color: rgb(226, 193, 7);
    color:#5654b3;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    cursor: pointer;
}
.enviar{
    border: none;
    background-color: #5654b3;
    box-shadow: 2px 2px 5px #f18ec5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
} 
.enviar:hover {
    box-shadow: inset 0 100px 0 0 #e2c107;
}
main{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1, h3 {
    color: #5654b3;
}
.redes-icones img{
    width: 40px;
}
.redes-icones img:hover{
    border: 2px solid #e2c107;
    border-radius: 50%;
    cursor: pointer;
}
.redes-icones div{
    width: 100%;
}
.redes-sociais{
    display: flex;
    align-items: flex-start;
    color: white;
    text-transform: uppercase;
    gap: 30px;
}
.medias-socias{
    margin-top: 100px;
    position: absolute;
}
footer{
    width: 100%;
}
form{
    background:#5654b3be;
    width: 500px;
    box-shadow:7px 7px 300px #5654b3be;
    border-radius: 15px;
}
input {
    background-origin: padding-box;
    box-shadow: 2px 2px 5px #f18ec5;
    border: 2px solid #ffffff83;
    border-radius: 4px;
    height: 35px;
    background-color: #ffffff;
    transition: width 0.9s ease-in-out;
    margin: 10px;
}
.info-termos{

}
@media (max-width:970px) {
    nav .menu-icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
        transition: 0.3s ease-in;
        background-color: #5654b3;
    }
    nav ul.active{
        transform: translateX(0);
    }
    nav ul li{
        padding: 10px;
    }
    nav ul li a{
        font-size: 18px;
        color: white;
    }
    nav ul button{
        background-color: royalblue;
        font-size: 18px;
        margin: 10px;
    }
    main{
        flex-direction: column;
    }
    .img-bx{
        width: 100%;
        text-align: center;
    }
    .text-bx{
        margin-bottom: 40px;
    }
    .text-bx .input-bx{
        justify-content: center;
    }
  
}