@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 12px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: #e3f0ff;
    min-height: 100vh;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav .menu-icon{
    cursor: pointer;
    display: none;
}
nav .logo a{
    font-size: 30px;
    font-weight: bold;
    color: #5654b3;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    padding: 0 15px;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #5654b3;
}
nav ul button{
    border: none;
    background-color: rgb(226, 193, 7);
    color:#5654b3;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    cursor: pointer;
}

/*PARTE CONTATO*/
h5{
    color: #ffffff;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #5654b3;
    font-size: 1.5em;
    margin-left: 25%;
    margin-bottom: 2em;
    margin-bottom: 5px;
}

main{
    margin-top: 5%;
    height: 100%;
    width: 85%;
    background-size: cover;
    background-position: center center;
}


.carousel-control-prev, 
.carousel-control-next{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40%;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #5654b3;
    background: #f18ec5;
}

.carousel-inner{
    width: 75%;
    height: 80%;
}

.icon{
    width: 50px;
    margin: 0;
    
}
.icon:hover{
    border: 2px solid #e2c107;
    border-radius: 50%;
    cursor: pointer
}
.icon{
    align-items: center;
    text-transform: uppercase;
    gap: 30px;
}

/*FOOTER*/

p{
    color: #000;
    font-size: 1rem;
    padding: 0;
}
.link-dark img{
    width: 40px;
    margin: 0;
}
.link-dark img:hover{
    border: 2px solid #e2c107;
    border-radius: 50%;
    cursor: pointer
}
.link-dark{
    align-items: center;
    text-transform: uppercase;
    gap: 30px;
}
.list-unstyled{
    width: 20px;
    margin: 0 auto;
    justify-content: center;
}

.py-5{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.topp{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width:970px) {
    nav .menu-icon{
        display: block;
    }
    nav ul{
        z-index: 1;
        position: fixed;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
        transition: 0.3s ease-in;
        background-color: #5654b3;
    }
    nav ul.active{
        transform: translateX(0);
    }
    nav ul li{
        padding: 10px;
    }
    nav ul li a{
        font-size: 18px;
        color: white;
    }
    nav ul button{
        background-color: royalblue;
        font-size: 18px;
        margin: 10px;
    }
    
    main{
        flex-direction: column;
    }
    .img-bx{
        width: 100%;
        text-align: center;
    }
    .text-bx{
        margin-bottom: 40px;
    }
    .text-bx .input-bx{
        justify-content: center;
    }
  
    main .formulario{
        margin-top: 40%;
    }

    .text{
        margin-top: 20%;
    }
    form .field .input-area{
        height: 2.5em;
        position: relative;
        margin-left: -10px;
        width: 70%;
    }

    form input[type="submit"] {
        width: 50%;
    }
    .formulario{
        position: absolute;
        top: 40%;
        left: 50%;
        right: 30%;
        transform: translate(-50%, -50%);
        background: #5654b3be;
        width: 60vh;
        padding: 40px 20px;
        border-radius: 15px;
        box-shadow: 4px 4px 30px rgb(0, 0, 0);
    }
    .topp{
        flex-direction: column;
    }
}

