@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 12px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: #e3f0ff;
    min-height: 100vh;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav .menu-icon{
    cursor: pointer;
    display: none;
}
nav .logo a{
    font-size: 30px;
    font-weight: bold;
    color: #5654b3;
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav ul li{
    padding: 0 15px;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: #5654b3;
}
nav ul button{
    border: none;
    background-color: rgb(226, 193, 7);
    color:#5654b3;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 20px;
    cursor: pointer;
}

/*PARTE LOGIN*/
h1{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
    color: #4845d4;
    margin-bottom: 5px;
}

main{
    position: relative;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

label{
    color: #ffffff;
    background: #5654b3 ;
    padding: 5px;
    border-radius: 10px;
    opacity: .7;
    margin-left: -70%;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #5654b3be;
    width: 380px;
    padding: 50px 30px;
    border-radius: 15px;
    box-shadow: 4px 4px 30px rgb(0, 0, 0);
}

.wrapper section {
    font-size: 20px;
    font-weight: 600;
}


form .field {
    width: 100%;
    margin-bottom: 35px;
}


form .field.shake {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%,
    100% {
        margin-left: 0px;
    }
    20%,
    80% {
        margin-left: -12px;
    }
    40%,
    60% {
        margin-left: 12px;
    }
}

form .field .input-area{
    height: 2.5em;
    position: relative;
    margin-left: -10px;
}

form input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 40px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #f18ec5;
    border: 2px solid #ffffff83;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
}

form .field input:focus,
form .field.valid input {
    border-color: #e2c107;
}

form .field.shake input,
form .field.error input {
    border-color: #bb1021;
}

.field .input-area i {
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}

.input-area .icon {
    left: 15px;
    color: #bfbfbf;
    transition: color 0.2s ease;
}

.input-area .error-icon {
    right: 15px;
    color: #a50b1b;
}

form input:focus~.icon,
form .field.valid .icon {
    color: #5372F0;
}

form .field.shake input:focus~.icon,
form .field.error input:focus~.icon {
    color: #bfbfbf;
}

form input::placeholder {
    color: #6b6b6b;
    font-size: 15px;
}

form .field .error-txt {
    color: #b81223;
    text-align: left;
    margin-top: 5px;
}

form .field .error {
    display: none;
}

form .field.shake .error,
form .field.error .error {
    display: block;
}

form .pass-txt {
    text-align: left;
    margin-top: 40px;
}

.wrapper a {
    color: #1738bd;
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

form input[type="submit"] {
    height: 50px;
    margin-top: 15px;
    color: #fff;
    padding: 0;
    border: none;
    background: #5654b3;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    box-shadow: inset 0 100px 0 0 #e2c107;
}


/*FOOTER*/

p{
    color: #000;
    font-size: 1rem;
    padding: 0;
}
.link-dark img{
    width: 40px;
    margin: 0;
}
.link-dark img:hover{
    border: 2px solid #e2c107;
    border-radius: 50%;
    cursor: pointer
}
.link-dark{
    align-items: center;
    text-transform: uppercase;
    gap: 30px;
}
.list-unstyled{
    width: 20px;
    margin: 0 auto;
    justify-content: center;
}

.py-5{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}



@media (max-width:970px) {
    nav .menu-icon{
        display: block;
    }
    nav ul{
        z-index: 1;
        position: fixed;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
        transition: 0.3s ease-in;
        background-color: #5654b3;
    }
    nav ul.active{
        transform: translateX(0);
    }
    nav ul li{
        padding: 10px;
    }
    nav ul li a{
        font-size: 18px;
        color: white;
    }
    nav ul button{
        background-color: royalblue;
        font-size: 18px;
        margin: 10px;
    }
    
    main{
        flex-direction: column;
    }
    .img-bx{
        width: 100%;
        text-align: center;
    }
    .text-bx{
        margin-bottom: 40px;
    }
    .text-bx .input-bx{
        justify-content: center;
    }
  
}

